@charset "utf-8";

.main h3 {
    color: #444;
    font-size: 15px;
}

.main input {
    height: 30px;
    width: 300px;
    outline: solid 1px #070;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.main input:focus {
    height: 35px;
    width: 300px;
    outline: solid 3px #070;
    border-radius: 10px;
    border: none;
    text-align: center;
}
