@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.head {
    width: 100%;
    max-width: 1000px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

.header-under-bar {
    width: 100%;
    max-width: 1000px;
    height: 5px;
    background-color: #070;
}

.head h2 {
    color: #070;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.main h3 {
    color: #444;
    font-size: 15px;
}

.main .scroll-area {
    overflow-y: scroll;
    height: 400px;
    padding: 0 10px;
    margin: 0 auto;
    border-top: 1px dotted #070;
    border-bottom: 1px dotted #070;
}

.default-button {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    width: 150px;
    height: 30px;
    margin: 5px 0px;
    border: none;
    border-radius: 10px;
    background-color: #070;
    color: #FFF;
}

.default-button:active {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    width: 150px;
    height: 30px;
    margin: 5px 0px;
    outline: 1px solid #070;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
    color: #070;
}

.chart {
    max-width: 640px;
    margin: 0 auto;
}

.button-area {
    margin-top: 20px;
}

.separator {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
}