@charset "utf-8";

.main tr {
    height: 30px;
}

label span {
    line-height: 30px;
    font-size: 13px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #070;
    color: #FFF;
    cursor: pointer;
}

input:checked + label span {
    line-height: 30px;
    font-size: 13px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #070;
    color: #FFF;
    cursor: pointer;
}

/* 
元々はtdを指定してたが、thがなぜかおかしな数値になるのでthを指定する
input type="hidden" が原因？
*/
.main th:nth-child(1) {
    width: 30px;
}

.main td:nth-child(1) > input {
    vertical-align: middle;
    transform: scale(1.3);
}

.main th:nth-child(2) {
    width: 70px;
}

.main th:nth-child(3) {
    width: 250px;
}

.main th:nth-child(4) {
    width: 50px;
}

table label span {
    line-height: 30px;
    font-size: 13px;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #070;
    border-radius: 10px;
    background-color: #FFF;
    color: #070;
    cursor: pointer;
}

table input:checked + span {
    line-height: 30px;
    font-size: 13px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #070;
    color: #FFF;
    cursor: pointer;
}

.toggle-test label {
    color: red;
    cursor: pointer;
}

.toggle-test .invisible {
    display: none;
}

.toggle-test input + div {
    display: none;
}

.toggle-test input:checked + div {
    display: block;
}
